.new-subject-container h5 {
  text-align: center;
  padding-bottom: 30px;
}

#new-subject-form {
  width: 700px;
  max-width: 96%;
  margin: auto;
}

#new-subject-form .paragraphs {
  margin-top: 50px;
}

#add-paragraph-button {
  position: absolute;
  bottom: 61px; 
}
